version: "3.8"
services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile.local
    environment:
      - DJANGO_SETTINGS_MODULE=settings.local
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./server:/server
    ports:
      - 8000:8000

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.local
    volumes:
      - ./client:/client
      - /client/node_modules
    working_dir: /client
    ports:
      - 5173:5173
    command: npm run local

  redis:
    image: redis:7
    ports:
      - 6379:6379

  celery:
    build:
      context: ./server
      dockerfile: Dockerfile.local
    command: celery -A celery_config worker -l INFO
    environment:
      - DJANGO_SETTINGS_MODULE=settings.local
      - CELERY_BROKER_URL=redis://redis:6379/0
    volumes:
      - ./server:/server
    depends_on:
      - redis
      - backend

volumes:
  db-data:
